* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}

.container {
    width: 100%;
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 24px;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
/* header */
.site-header {
    background: #f6f6f6;
    padding: 30px 0;
}

.site-header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.site-header__start {
    display: flex;
    align-items: center;
} 

.site-header__money {
    display: flex;
    align-items: center;
    margin: 0;
    margin-left: 30px;
    padding: 0;
    list-style-type: none;
}

.site-header__start-item {
    margin-right: 25px;

}

.site-header__money-dol{
    display: inline-block;
    margin-right: 5px;
    font-style: 20px;
    font-weight: 700;
    color: #2959CE;
}

.site-header__money-rub  {
    display: inline-block;
    margin-left: 15px;
    font-style: 20px;
    font-weight: 700;
    color: #2959CE;

}

.site-header__money-num {
    font-family: 'Rubik';
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #5555; 
}


.site-header__finish {
    display: flex;
    align-items: center;
}

.site-header__input {
    width: 275px;
    padding: 15px 10px;
    padding-left: 35px;
    border-radius: 60px;
    background-image: url(/img/search-icon.svg);
    background-repeat: no-repeat;
    background-position: calc(50% - 120px) calc(50%);
    border: 1px solid transparent;
    /* background-size: contain; */
}

.site-header__languages {
    width: 80px;
    margin-right: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: #DCE6FF;
    border-radius: 39px;
}
.site-header__uz {
    margin-right: 5px;
    padding: 10px;
    background-color: #fff;
    border-radius: 50%;
}

.site-header__btn {
    display: inline-block;
    padding: 13px 20px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;    
    background-color: #7296EC;
    border-radius: 10px;
    text-decoration: none;
}


/* nav */
.nav {
    width: 1240px;
    position: absolute;
    top: 120px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d1d1d1;
}
.site-header__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.site-header__link {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #7F7F7F;
    text-decoration: none;
}

/* nav end */
/* header end */

/* aside */

.site-aside {
    margin-top: 100px;
}
.site-aside__img {
    width: 1240px;
}

/* aside end */

/* news */
.news {
    margin-top: 50px;
}
.news__list {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;

}
.news__item {
    width: 363px;
    margin-bottom: 20px;
    /* margin-right: 20px; */
    padding: 17px 20px 17px 20px;
    background-color: #f6f6f6;
    border-radius: 15px;
}

.news__title {
    margin-bottom: 10px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
}
.news__text {
    margin: 0;
    margin-bottom: 15px;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
}

.news__img {
    width: 330px;
    margin-bottom: 18px;
}

.world__right-under::before {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
    background-image: url(/img/kb.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.world__under::before{
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
    background-image: url(/img/kb.svg);
    background-repeat: no-repeat;
    background-size: contain;
}
.news__under::before{
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 10px;
    background-image: url(/img/kb.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

/* news end */

/* article */

.article__box {
    width: 100%;
    max-width: 1150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 71px 24px 29px;
    background-image: url(/img/fon.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.article__title-box {
    width: 100%;
    max-width: 404px;
}
.article__title {
    margin: 0;
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
}
.article__btn {
    padding: 13px 30px;
    background: #F78B3B;
    border-radius: 10px;
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}

/* article end */

/* world */
.world {
    margin-top: 50px;
    margin-bottom: 100px;
}

.world__title {
    margin: 20px 0;
}
.world__wrapper {
    display: flex;
    justify-content: space-between;
}

.world__list {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.world__item {
    display: flex;
    margin-bottom: 10px;
    background-color: #f6f6f6;
    border-radius: 15px;
}
.world__item:last-child{
    margin-bottom: 0;
}
.world__item-info {
    width: 100%;
    margin-top: 20px;
    max-width: 505px;
    margin-left: 15px;

}
.world__info-title {
    margin: 0;
    margin-bottom: 10px;
    font-family: 'Rubik';
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
}
.world__info-text {
    margin: 0;
    margin-bottom: 17px;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #4A4B4C;
}
.world__under {
    display: inline-block;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #5E5F61;
}
.world__img {
    padding-top: 20px;
    padding-left: 17px;
}
.world__link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    padding: 17px 0;
    text-decoration: none;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    background-color: #f6f6f6;
    align-items: center;
    border-radius: 10px;
}

.world__right {
    padding: 17px 17px 25px 17px;
    background-color: #f6f6f6;
    border-radius: 10px;
}
.world__right-title {
    margin: 0;
    margin-bottom: 25px;
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}
.world__right-item {
    width: 100%;
    max-width: 311px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d2d2d2d2;
} 
.world__right-item:last-child {
    margin-bottom: 0;
    border-bottom: 1px solid transparent;
} 
.world__right-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.world-right__in-title {
    font-family: 'Rubik';
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}
.world__right-under {
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #5E5F61;
}

/* world end */


/* footer */

.footer{
    display: block;
    justify-content: center;
    align-items: center;
    background-color: #7297EF;
    color: #fff;
}

.footer__box {
    padding-top: 40px;
    padding-left: 220px;
    margin-right: 221px;
}

.footer__title {
    font-family: 'Rubik';
    font-weight: 800;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 15px;
}

.footer__section {
    display: flex;
    margin-bottom: 30px;

}
.footer__section-text {
    width: 229px;
    font-family: 'Rubik';
    font-weight: 400;
    font-size: 12px;
    line-height: 19px;
    margin-right: 200px;
}

.footer__section-links__first{
    margin-right: 203px;
}

.footer__section__links__first-li a,
.footer__section__links__second-li a{
    display: flex;
    margin-bottom: 20px;
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #ffff;
}

.footer__message-title__second {
    width: 161px;
    font-family: 'Rubik';
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
}
.footer__message {
    padding-top: 20px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
}
.footer__icons-links img {
    margin-left: 25px;
}
/* footer end */